{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["eslint-plugin-react", "jest"],
  "rules": {
    "eqeqeq": ["error", "always"],
    "no-lonely-if": "error",
    "no-shadow": "warn",
    "no-spaced-func": "error",
    "react/display-name": "warn",
    "react/no-deprecated": "warn",
    "react/no-string-refs": "warn",
    "react/prop-types": "warn",
    "vars-on-top": "error"
  }
}
